# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
_version.py

# IDE
.vscode/

# Virtual environment
.venv/
.python-version

# Environment variables
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints

# Local data
logs
checkpoints
wandb
jobs

# Local scratch/tmp
.scratch
tmp
.tmp*

# specific files
output*
uv.lock 
wandb/
HEST/
eva-probe/
eval/
CLAUDE.md
AGENTS.md
checkpoints/